* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
    color: #a1e3f7;
    text-align: center;
    font-family: 'Times New Roman';
    justify-content: center;
}

.h2 {
    font-family: 'Segoe UI';
    text-align: center;
    justify-content: center;
    color: #93f893;
}

p.text {
    font-family: 'Segoe UI';
    text-align: center;
    justify-content: center;
    color: #383333;
}

background {
    background-color: #ff0000;
    gradient: linear-gradient(to right, #00d9ff, #ff0000);
}


